.item {
    width: 253px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.item:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(-30deg) rotateY(-20deg);
}

.item .title,
.item .price,
.item .description,
.item .rating {
    margin: 10px 0;
}

.item .img {
    width: 80%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.item .description {
    color: #C9CFD1;
    text-align: center;
}

.item .price {
    font-size: 28px;
}

.rating {
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.fa-star {
    color: #d3d3d3;
}

.filled {
    color: #f39c12;
}

.item button {
    margin-top: auto;
    padding: 16px 0px;
    width: 100%;
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
}